/* Existing styles... */

/* Search button styling */
.search-form {
    margin-right: 10px;
    margin-top: 4px;
    display: flex;
  }
  
  .search-form input {
    flex: 1;
    border: none;
    border-radius: 0;
    padding: 5px; /* Adjust the padding as needed */
  }
  
  .search-form button {
    background-color: #000000;
    border: none;
    border-radius: 0;
    color: white;
    padding: 5px 10px; /* Adjust the padding as needed */
    cursor: pointer;
  }
  
  .search-form button:hover {
    background-color: #333333; /* Adjust the background color on hover */
  }
  
  /* ... (rest of your existing styles) */
  